<p>about works!</p>

<section class="card bg-primary">
  <h2 class="card-header">Acerca de</h2>
  <div class="card-body d-flex">
    <img src="../../../assets/Imagenes/Perfil.jpeg" alt="" />
    <ul>
      <li>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit veniam
        voluptas, quos dignissimos, accusantium esse excepturi odit delectus id
        enim voluptatibus animi cupiditate suscipit asperiores nemo magnam,
        similique ullam nobis. Atque inventore eligendi excepturi eum
        necessitatibus, quo praesentium non modi dolor voluptas minus qui,
        mollitia laborum, totam expedita reiciendis sapiente. Velit placeat
        numquam sequi a sunt impedit molestias. Sequi, doloremque. Accusantium
        quibusdam veritatis nulla tempora? Amet atque natus molestiae. Illo
        numquam hic facere veritatis assumenda optio laudantium sapiente enim
        nobis iure at dolore, quia repudiandae tenetur est unde aspernatur ut.
        Labore commodi inventore in quos ipsum aut unde quis minima alias
        impedit delectus hic provident, illo sed officia ex, magnam veniam esse
        repellendus, debitis consectetur quia? Labore soluta distinctio
        suscipit.
      </li>
    </ul>
  </div>
</section>
