<!-- <app-navbar></app-navbar> -->
<main>
  <section class="row">
    <!-- ?FotoBanner -->
    <div
      id="perfil"
      class="col-lg-4 justify-content-center d-grid align-content-center mx-auto"
    >
      <button class="btn btn-sm btn-outline-dark text-warning mx-auto">
        Editar Foto
      </button>
      <img
        src="../../../assets/AcercaDe/Perfil.JPG"
        class="img-fluid p-1 mt-1 mx-auto"
        alt=""
      />
      <hr />
      <p class="text-center">Marcelo Daniel Chodilef</p>
    </div>
    <!-- ?AcercaDe -->
    <div class="col-lg-8 bg-gradient bg-black">
      <div class="d-flex justify-content-between align-items-center pt-3">
        <h2>Portfolio</h2>
        <button class="btn btn-outline-light btn-sm">Editar About</button>
      </div>
      <span><hr /></span>
      <!--! PARRAFOS DE BASE DE DATOS -->
      <article class="card-body">
        <p>
          {{ acercaDe.parrafouno }}
          <span>
            <b> {{ title }}. </b>
          </span>
          <br />
          {{ acercaDe.parrafodos }}
          <b> {{ subtitle }}</b>
        </p>
        <br />
        <p>
          {{ acercaDe.parrafotres }}
        </p>
        <br />
        <p class="mt-5 text-center">
          {{ acercaDe.Extra }}<br />
          <b class="text-warning">
            {{ acercaDe.ExtraHab }}
          </b>
          <br />
          <i class="text-secondary"> {{ acercaDe.Final }} </i>
        </p>
      </article>
    </div>
  </section>
</main>
<app-footer></app-footer>
