<footer class="fixed-bottom">
  <ul class="d-flex justify-content-center">
    <li>
      <button routerLink="/inicio" class="btn btn-outline-primary">
        Inicio
      </button>
    </li>
    <li>
      <button routerLink="/about" class="btn btn-outline-light">About</button>
    </li>
    <li>
      <button routerLink="/exp" class="btn btn-outline-light">
        Experiencias
      </button>
    </li>
    <li>
      <button routerLink="/edu" class="btn btn-outline-light">Educacion</button>
    </li>
    <li>
      <button routerLink="/hab" class="btn btn-outline-light">
        Habilidades
      </button>
    </li>
    <li>
      <button routerLink="/proyectos" class="btn btn-outline-light">
        Proyectos
      </button>
    </li>
    <li>
      <button routerLink="/redes" class="btn btn-outline-light">
        Redes Sociales
      </button>
    </li>
  </ul>
</footer>
