header {
  margin-top: 5rem;
  text-align: center;
  /* border: 1px solid wheat; */
}
main {
  /* border: 5px solid wheat; */
  height: 60vh;
}
h1 {
  transition: 0.5s linear;
  /* font-family: inherit; */
  /* font-family: Georgia, "Times New Roman", Times, serif; */
  font-size: 125px;
  color: transparent;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.719);
}
.chodilef {
  font-family: "Amatic SC", cursive, Impact, Haettenschweiler,
    "Arial Narrow Bold", sans-serif;
}
p {
  font-family: "Exo 2", sans-serif;
  margin-bottom: -25px;
}
hr {
  transition: 0.5s linear;
  opacity: 15%;
  color: blanchedalmond;
  /* display: flex; */
  /* align-content: center; */
  width: 25%;
}
button {
  font-family: consolas;
  margin: 25px;
  transform: translateY(100px);
}
/* ?Effectos */
main:hover hr {
  opacity: 75%;
  color: wheat;
  width: 45%;
}
main:hover h1 {
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  color: none;
  opacity: 80%;
  text-shadow: 0 0 1px lightskyblue, 0px 0px 5px black, 0 0 10px linen;
}

span {
  transition: 1s linear;
}
button:hover span {
  content: "Comenzar";
}
