<p>projects works!</p>
<section class="card bg-info">
  <h2 class="card-header">Poryectos</h2>
  <div class="card-body d-flex">
    <img src="../../../assets/Imagenes/Proyectos.png" alt="" />
    <ul>
      <li>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat sit
        cupiditate fuga ipsa placeat, saepe doloremque voluptas hic sapiente?
        Quis, alias. Unde eaque, rem quam at placeat ratione repellat quis!
        <br />
        <a href="#">www.ProyectoA.com</a>
      </li>
      <li>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat sit
        cupiditate fuga ipsa placeat, saepe doloremque voluptas hic sapiente?
        Quis, alias. Unde eaque, rem quam at placeat ratione repellat quis!
        <br />
        <a href="#">www.ProyectoB.com</a>
      </li>
    </ul>
  </div>
</section>
