<!-- <app-navbar></app-navbar> -->
<main class="container">
  <h2>
    Proyectos Realizados
    <button class="btn btn-sm btn-outline-light">Edit</button>
  </h2>
  <hr />
  <section>
    <ul *ngFor="let pro of proyectos">
      <li>
        <article>
          <h3 class="card-header">{{ pro.name }}</h3>
          <div class="d-flex">
            <img [src]="pro.img" alt="" />
            <div class="card-body">
              <b>Descripcion: </b> <br />
              <p>
                {{ pro.description }}
              </p>
              <b>Direccion: </b><br />
              <a href="#">{{ pro.direccion }} </a>
              <br />
              <span>Más info</span>
            </div>
          </div>
        </article>
        <br />
      </li>
    </ul>
    <!-- <article>
      <h3 class="card-header">Nombre de Proyecto</h3>
      <div class="d-flex">
        <img src="../../../assets/Proyectos/Portfolio.png" alt="" />
        <div class="card-body">
          <b>Descripcion: </b> <br />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque qui
            tempore quis cupiditate nesciunt fugiat atque cumque sint voluptate,
            at est? Perspiciatis provident odit sint nobis quibusdam laudantium
            reiciendis. Ipsam.
          </p>
          <b>Direccion: </b><br />
          <a href="#" routerLink="/inicio">Chodilef.com.ar</a>
        </div>
      </div>
    </article> -->
  </section>
</main>
<app-footer></app-footer>
