<!-- <app-navbar></app-navbar> -->
<main class="container">
  <h2>
    Estudios
    <button class="btn btn-sm btn-outline-danger rounded-pill disabled">
      Edit
    </button>
  </h2>
  <hr />
  <section class="row">
    <ul *ngFor="let ed of education">
      <li>
        <article class="col-lg-6">
          <h3 class="card-header">
            {{ ed.name }}
            <!-- <button class="btn btn-sm btn-outline-danger m-1">Editar</button> -->
          </h3>
          <div class="d-flex row p-2">
            <img [src]="ed.imagen" class="col-lg d-grid mx-auto" alt="" />
            <!-- <hr /> -->
            <div class="col-lg p-2">
              <div class="card-body">
                <b>Descripcion:</b><br />
                {{ ed.description }}
              </div>
              <br />
              <ul>
                <li>
                  Fecha Inicio:
                  <b>
                    {{ ed.start }}
                  </b>
                </li>
                <li>
                  Finalizacion:
                  <b>
                    {{ ed.end }}
                  </b>
                </li>
              </ul>
            </div>
          </div>
        </article>
      </li>
    </ul>
  </section>
  <!-- <span>Mas info recuperada de base de datos: Descripcion</span> -->
</main>
<app-footer></app-footer>
