<p>skills works!</p>
<section class="card bg-danger">
  <h2 class="card-header">Habilidades</h2>
  <div class="card-body d-flex">
    <img src="../../../assets/Imagenes/Habilidades.png" alt="" />
    <ul>
      <li>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
        voluptas reiciendis ducimus fugiat hic animi quasi eligendi neque eaque
        qui ut corrupti, labore dolore velit, veritatis sint magni natus
        doloremque!
      </li>
      <li>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
        voluptas reiciendis ducimus fugiat hic animi quasi eligendi neque eaque
        qui ut corrupti, labore dolore velit, veritatis sint magni natus
        doloremque!
      </li>
      <li>
        <input type="range" name="" id="" />
      </li>
    </ul>
  </div>
</section>
