img {
  max-width: 150px;
}
li {
  list-style: none;
}
main {
  transform: translateY(10%);
}
article {
  margin: 5px;
  text-align: center;
  /* background: rgba(0, 0, 0, 0.4); */
  border-radius: 12px;
  text-shadow: 0 0 5px black;
}
img:hover {
  filter: drop-shadow(0 0 10px whitesmoke);
}
p {
  text-shadow: 1px 1px 5px black;
}
