/* You can add global styles to this file, and also import other style files */
body {
  background: rgba(0, 0, 0, 0.46);
  background-image: url(../src/assets/Lago.puelo.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  color: whitesmoke;
}
main {
  padding: 0 50px 0 50px;
  margin-bottom: 10vh;
}
footer {
  transition: 0.5s linear;
}
article,
button,
img,
span {
  transition: 0.5s linear;
}
h1,
h2,
h3,
h4 {
  /* font-family: consolas; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: 0.5s linear;
  text-align: center;
}
/* ?SCROLLBAR */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: black;
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  background: darkslategrey;
  border-radius: 5px;
}
