<!-- <app-navbar></app-navbar> -->
<main class="container">
  <h2>
    Laburos
    <button class="btn btn-outline-success rounded-pill btn-sm disabled">
      Edit
    </button>
  </h2>

  <hr />
  <section class="row mx-auto container">
    <ul *ngFor="let exps of Experiencias">
      <li>
        <!-- Articulo -->
        <article class="col-md-auto">
          <h4>
            {{ exps.name }}
            <!-- <button class="btn btn-sm btn-success disabled rounded-pill">
              Editar
            </button> -->
          </h4>

          <div class="row p-2">
            <img [src]="exps.imagen" class="col-lg d-grid mx-auto" alt="" />
            <!-- <hr /> -->
            <div class="col-lg container m-3">
              <b class="h5">Descripción: </b>
              <!-- <hr /> -->
              <p>
                {{ exps.description }}
              </p>
              <br />
              <div class="d-flex justify-content-around">
                <span>
                  <b>Fecha de Inicio: </b>
                  {{ exps.start }}
                </span>
                <span>
                  <b>Fecha de Salida: </b>
                  {{ exps.end }}
                </span>
              </div>
            </div>
          </div>
        </article>
      </li>
    </ul>
  </section>
  <!-- <app-footer></app-footer>a -->
</main>

<app-footer></app-footer>
