<p>experience works!</p>
<section class="card bg-success">
  <h2 class="card-header">Laburos</h2>
  <div class="card-body d-flex">
    <img src="../../../assets/Imagenes/Work.jpg" alt="" />
    <ul>
      <li>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam, tenetur
        nihil. Officia iure ad voluptatem quas accusamus est ab ex itaque in,
        saepe tempore laudantium, omnis vel eveniet voluptates vitae. Aliquam
        repudiandae sint dolor. In maiores laborum harum temporibus amet.
        Eveniet, ea optio saepe eligendi repudiandae voluptas ducimus similique
        modi facere nam exercitationem aspernatur consequuntur molestias,
        doloremque facilis qui. Autem! Incidunt inventore commodi eius
        architecto perferendis impedit error ipsa? Unde, aliquid. Ex accusantium
        ullam suscipit, dicta et recusandae possimus incidunt modi repudiandae.
        Illum ipsam asperiores quia veritatis reiciendis aut id. A obcaecati
        placeat sit debitis laudantium deserunt, quia tempora quaerat corporis
        eum cumque. Soluta harum fuga possimus impedit similique dicta repellat
        sint reiciendis qui unde aut ab aperiam, voluptatibus inventore!
      </li>
    </ul>
  </div>
</section>
